body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,21,80,1) 52%, rgba(23,21,80,1) 100%, rgba(105,105,255,1) 100%, rgba(0,212,255,1) 100%);
}